<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/appicon1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/appicon1_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SuperApka"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="35">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${GMS_ADS_APPLICATION_ID}"/>
        <meta-data
            android:name="com.google.android.gms.auth.api.identity.API_KEY"
            android:value="${DEFAULT_WEB_CLIENT_ID}" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SuperApka">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>
    </queries>

</manifest>